/*MENU GRAL*/
div.menu {
    width: 100%;
    position: absolute;
    top: 5px;
    z-index: 0;

}

/*FOOTER GRAL*/
body footer {
    display: block;
    position: fixed;
    bottom: 0px;
    z-index: -10;
}


/*--- FORMULARIOS DE USUARIOS ---*/


/*CONTENIDO*/
section.registro,
section.login,
section.perfil {
    display: flex;
    position: relative;
    top: 150px;
    z-index: 10;


}





/* --- CAPACITACIONES --- */


/* SLIDER*/
body.capacitacion div.slider {
    display: block;
    position: absolute;
    top: 150px;
}

/* CONTENIDO*/
body.capacitacion div.container#capacitacion {
    display: flex;
    position: absolute;
    top: 590px;
    background: #fff;
    margin-bottom: 900px;
    z-index: 10;

}







/* --- MUNICIPALIDADES --- */
/*CONTENIDO*/
div.muni {
    position: relative;
    top: 160px;
    background: #fff;
    margin-bottom: 550px;
    z-index: 10;
}





/* --- PREGUNTAS FRECUENTES --- */
/*CONTENIDO*/
body.preFrecuentes div.container#preFrecuentes {
    
    position: relative;
    top: 170px;
    background: #fff;
    margin-bottom: 600px;
    z-index: 10;
}






/* --- QUIENES SOMOS --- */

/*CONTENIDO*/
body.qsomos div.container {

    position: relative;
    top: 170px;
    background: #fff;
    margin-bottom: 600px;
    z-index: 10;
}







/*--- CONTACTO ---*/

/*CONTENIDO*/
body {
    display: flex;
    justify-content: center;
    align-content: center;
}

div.textocontacto {

    position: absolute;
    top: 140px;
    background: #fff;
    margin-bottom: 600px;
    z-index: 10;
}

div.containergral {

    position: relative;
    top: 210px;
    background: #fff;
    margin-bottom: 600px;
    z-index: 10;

}

