* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div.container{
    padding: 3px;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

 .container h1{
    background-image: url("../img/asa-02.jpg");
}

.preguntasFrecuentes h2 {
  background-color: #E27F41;
  color: white;
}

.preguntasFrecuentes p {
    margin: 5px;
    font-size: 15px;
}

@media only screen and (min-width: 880px) {
  div.container{
      margin-top: 40px;
      margin-bottom: 40px;
}

}
