*{
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Monserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  width: 100%;
}
.logoasa{
  background-color: white;
}

h3.logoasa{
  color: white;
  background-color: #2F2A2A;
  border-radius: 84px 84px 84px 84px;
  -moz-border-radius: 84px 84px 84px 84px;
  -webkit-border-radius: 84px 84px 84px 84px;
  border: 0px solid #000000;
}
.containerfooter{
  background-color: #2F2A2A;
  color: white;
  justify-content: center;

}

.contactos{
  text-align: center;
}

nav.footer h3{
    text-align: center;
    font-weight: 800;
    font-size: 20px;
}
.redes{
  font-size: 35px;
  text-align: center;
  color: #FF6000;
}
.redes h3{
  color: white;
}

.piedepagina{
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;

}
