body{

    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    
}

.container{
    position: relative;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.container .box{
    position: relative;
    width: 280px;
    height: 400px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container .box .imgBx{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: circle(400px at center 100px);
    transition: 0.5s;
    transition-delay: 0.5s;
    
}

.container .box:hover .imgBx{
   clip-path: circle(80px at center 100px);
    transition-delay: 0s;  
}

.container .box .imgBx img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container .box:hover .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.container .box .contenido{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 55%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.container .box .contenido h2{
    margin: 0;
    padding: 0;
}
.container .box .contenido a{
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 5px;
    display: inline-block;
}
.container .box .contenido h2,
.container .box .contenido a,
.container .box .contenido p{
    opacity: 0;
    transition: 0.5s;
    transform: translateY(20px);

}
.container .box:hover .contenido h2{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}
.container .box:hover .contenido p{
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.7s;
}
.container .box:hover .contenido a{
        opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.9s;
}
