* {
margin: 0;
padding: 0;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

.containerfooter {
margin-left: 0%;
margin-right: 0%;
}


.info-container {
	width: 100%;
	background: #333333;
	font-family: "Monserrat", sans-serif;

}

.info-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	text-align: center;
  padding: 10px;
}

.info-main h3 {
	color: white;
	font-size: 30px;
	text-align: center;
}

.info-main p {
	padding: 20px 0;
  color: white;
}

.btn-warning{
  margin-bottom: 20px;
}

img {
width: 50%;
padding: 12%;
}

.logotbt {
width: 20%;
padding: 7%;
}

.logoasa h3 {
color: black;
padding: 7%;
}

.logoasa {
background-color: white;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: flex-start;
align-items: center;
}

.menuseccion ul {
list-style: none;
padding-left: 0%;
}

.mendoza {
color: black;
text-align: center;
}

h3.titulos {
border-bottom: 1px solid #E27F41;
}

footer {
background-color: #333333;
color: white;
width: 100%;
}

.contactos {
text-align: center;
}

nav.footer h3 {
text-align: center;
font-size: 30px;
margin-top: 2%;
}

.logoasa h2 {
 color: black;
 font-size: 25px;
}


.redes {
font-size: 30px;
text-align: center;
}

.redes h3 {
color: white;
}

div.iconosredes a {
margin: 7px;
color: #EAB22A;
}

.contactos p {
text-align: center;
font-size: 15px
}

ion-icon {
font-size: 20px;
color: #EAB22A;
}

.piedepagina {
background-color: black;
font-size: 10px;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
}

.piedepagina p {
font-size: 10px;
text-align: center;
margin: 0px;
}

div.secciones {
list-style-type: none;
}

.menuseccion ul li {
background-color: #EAB22A;
width: 100%;
margin-bottom: 1%;
padding: 2%;
text-align: center;
text-transform: uppercase;
}

.menuseccion ul li a {
color: white;
text-decoration: none;
}

div.menuseccion ul li:hover {
background: #C69316;
}


/* boton up */

.cm-up {
display: none;
position: fixed;
background: #C69316;
border-radius: 50px;
padding: 10px;
bottom: 10px;
right: 10px;
cursor: pointer;
}

.cm-up .cm-text-up {
border: none;
background: none;
outline: none;
cursor: pointer;
color: white;
float: left;
padding: 0;
font-size: 16px;
line-height: 30px;
transition: 0.4s;
width: 0px;
}

.cm-up .cm-icon {
background: #C69316;
color: #FFCD55;
font-size: 20px;
float: right;
width: 30px;
height: 30px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: 0.4s
}

.cm-up:hover> .cm-text-up {
width: 70px;
padding: 0 6px;
}

.cm-up:hover> .cm-icon {
background: #fff;
}

@media (min-width: 768px) {

.info-container {
  	background: white;
}
.info-main{
  padding: 10px;
}
.info-main p {
  color: black;
}
.info-main h3 {
  color: black;
}
.btn-warning{
  margin-bottom: 0px;
}

div.logoasa {
  display: none;
}
.menuseccion ul {
  display: flex;
  justify-content: space-around;
  font-size: 15px;
}
.menuseccion ul li {
  background-color: #EAB22A;
  width: 100%;
  margin-top: 1%;
  padding: 1%;
  text-align: center;
  text-transform: uppercase;
}
section.contactos {
  display: flex;
  justify-content: space-around;
}
ion-icon {
  display: none;
}
.contactos p {
  width: 33%;
}

footer{

}
nav.footer h3 {
  text-align: center;
  margin: 0;
}
.menuseccion ul li:hover {
  background: #D39C16;
}

}
