* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerqsomos{
    padding: 3px;
    flex-wrap: wrap;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

section.ppal {
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


section.titulo,
section.somos,
section.mision,
section.vision,
section.enfoque,
section.comite {
    justify-content: center;
    align-items: center;
    margin: 5%;
    margin-bottom: 10%;
    padding: 3px;
    /*box-shadow: 0px 0px 4px 4px #E27F41;*/
}

.titulo h1{
  font-size: 30px;
}
.naranja{
  font-size: 35px;
  background-color:#E27F41;
  background-size: 10px;
  color: white;
}
 h3{
  color:#E27F41;
}
.bg-dark{
  font-size: 35px;
  background-color:black;
  background-size: 10px;
  color: white;
}
section.titulo {
    text-transform: uppercase;
    background-image: url(../img/asa-04.jpg);
    background-repeat: no-repeat;
    padding: 18px;
    background-size: cover;
}


h1#blanco,
h2#blanco,
h3#blanco{
    color: #E27F41;
    width: 100%;
    font-style: italic;
    font-size: 20px;
}

h1#naranja,
h2#naranja,
h3#naranja{
    color: #000000;
    width: 100%;
    border-bottom: 1px solid #333333;
    padding: 10px;
}
section.comite {
    display: block;
    justify-content: center;
}

article {
    display: flex;
    justify-content: center;
}

section.titulo h1.blanco,
section.titulo h2.blanco {
    background-color: #333333;
    color: white;
}

section.titulo h1.naranja,
section.titulo h2.naranja {
    background-color: #333333;
    color: #E27F41;
}



@media only screen and (min-width: 880px){

  section.titulo,
  section.somos,
  section.mision,
  section.vision,
  section.enfoque,
  section.comite {
      justify-content: center;
      align-items: center;
      margin: 5%;
      margin-left: 20%;
      margin-right: 20%;
    /*  box-shadow: 0px 0px 4px 4px #E27F41;*/

  }
